<app-navbar></app-navbar>
<div class="container mx-auto px-5 py-5">
    <p class="text-2xl md:text-4xl text-center p-10 mb-5 font-semibold">What are you looking for?</p>
    <div *ngFor="let category of categories" class="category-wrapper">
        <div class="start-div">
            <p class="category-name">{{ category.name }}.</p>
            <div class="parallel-lines"></div>
        </div>
        <div class="menu">
            <div *ngFor="let subcategory of category.subcategories" class="menu-item">
                <img 
                    [src]="subcategory.image"
                    alt="Image of the '{{ subcategory.name }}' subcategory"
                    class="menu-image"
                >
                <p class="subcategory-name">{{ subcategory.name }}</p>
            </div>
        </div>
        <div class="end-div"></div>
    </div>
</div>