@use '@angular/material' as mat;
@import "tailwindcss";

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "Outfit", sans-serif;
}

:root {
    @include mat.expansion-overrides((
      container-background-color: #FFFFFF,
      header-text-font: "'Outfit', sans-serif",
      header-text-size: 18px,
      header-text-weight: 500,
      container-text-font:  "'Outfit', sans-serif",
    ));

    @include mat.paginator-overrides((
        container-text-font: "'Outfit', sans-serif"
    ));

    @include mat.slider-overrides((
        label-label-text-color: #FFFFFF,
        label-container-color: #191919,
        active-track-color: #191919,
        focus-handle-color: #191919,
        handle-color: #191919,
        inactive-track-color: rgb(163, 163, 163),
        with-tick-marks-inactive-container-color: rgb(163, 163, 163),
        with-tick-marks-active-container-color: rgb(163, 163, 163),
        label-label-text-font: "'Outfit', sans-serif"
    ));
}