<app-navbar></app-navbar>
<div class="container mx-auto px-5 py-5 z-1">
    <div class="breadcrumb">
        <app-button 
            routerLink="/shop"
            icon="arrow_back"
        ></app-button>
        <span class="text-lg ml-10 uppercase">{{ categoryName }}.</span>
        <span class="vertical-line"></span>
        <app-subcategory-preview
            [imageSrc]="subcategory.image"
            [name]="subcategory.name"
            [imageSize]="60"
            [textSize]="18"
        ></app-subcategory-preview>
    </div>
    <p class="text-3xl mb-2">{{ subcategory.name }}</p>
    <p class="text-[18px] mb-10">{{ subcategory.description }}</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 my-10">
        <ng-container *ngFor="let product of products">
            <app-product-card
                [name]="product.name"
                [description]="product.description"
                [price]="product.price"
                [image]="'yana-hurska-zeGT9j4ltRA-unsplash.jpg'"
                [id]="product.id"
            >
            </app-product-card>
        </ng-container>
    </div>
</div>