<mat-drawer-container class="mat-drawer-container">
    <mat-drawer #drawer class="mat-drawer" mode="over" opened="false" [autoFocus]="false">
        <app-filter 
            [drawer]="drawer" 
            [filterOptions]="filterOptions"
            [selectedFilters]="selectedFilters"
            (filtersChange)="onFiltersChange($event)"
            [colorCounts]="colorCounts"
            [totalProducts]="totalProducts"
        ></app-filter>
    </mat-drawer>
    <app-layout>
        <div class="container mx-auto p-5">
            <div class="breadcrumb">
                <app-button 
                    routerLink="/shop"
                    icon="arrow_back"
                ></app-button>
                <span class="text-lg ml-10 uppercase">{{ categoryName }}.</span>
                <span class="vertical-line"></span>
                <app-subcategory-preview
                    [imageSrc]="subcategory.image"
                    [name]="subcategory.name"
                    [imageSize]="60"
                    [textSize]="18"
                ></app-subcategory-preview>
            </div>
            <p class="text-3xl mb-2">{{ subcategory.name }}</p>
            <p class="text-[18px] mb-10">{{ subcategory.description }}</p>
            <div class="flex flex-row gap-5 items-center">
                <app-button  
                    icon="filter_list" 
                    (click)="openDrawer()"
                >
                    Filters
                </app-button>
                <app-sort-menu (sortChanged)="onSortChange($event)"></app-sort-menu>
                <p class="ml-auto">{{ totalProducts }} items</p>
            </div>
            <div *ngIf="isLoading" class="flex flex-col gap-5 justify-center items-center h-[200px] text-xl">
                <mat-spinner [diameter]="50"></mat-spinner>
                <span>Loading products...Almost ready!</span>
            </div>
            <div *ngIf="!isLoading && totalProducts === 0" class="flex justify-center items-center h-[200px] text-xl mt-5">
                No products found.
            </div>
            <div *ngIf="!isLoading && totalProducts > 0" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 my-10">
                <ng-container *ngFor="let product of products">
                    <app-product-card
                        [name]="product.name"
                        [description]="product.description"
                        [price]="product.price"
                        [image]="'yana-hurska-zeGT9j4ltRA-unsplash.jpg'"
                        [id]="product.id"
                    >
                    </app-product-card>
                </ng-container>
            </div>
            <mat-paginator
                class="mat-paginator"
                [length]="totalProducts"
                [pageSize]="pageSize"
                [pageSizeOptions]="[4, 8, 20, 40, 80]"
                aria-label="Select page"
                (page)="onPageChange($event)"
                *ngIf="!isLoading && totalProducts > 0"
            >
            </mat-paginator>
        </div>
    </app-layout>
</mat-drawer-container>