.register-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 400px;
    margin: 30px;

    .logo {
        font-family: "Gruppo", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 34px;
        cursor: pointer;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-top: 10px;
    }

    .error-message {
        display: flex;
        gap: 5px;
        padding: 10px;
        color: red;
        background-color: rgb(255, 240, 240);
        border: 1px solid red;
    }

    .login-prompt {
        text-align: center;
        margin: 5px 0;

        .login-link {
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}