<footer class="footer">
    <div class="flex flex-col gap-10 lg:flex-row lg:gap-0 container mx-auto p-5 justify-between">
        <div class="footer-logo">
            <span 
                routerLink="/" 
                class="logo"
            >
                Stylio.
            </span>
            <p class="mt-1">Unlock your slylish side.</p>
        </div>
        <div class="footer-links">
            <h4>QUICK LINKS</h4>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/wishlist">Wishlist</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/sign-in">My Account</a></li>
            </ul>
        </div>
        <div class="footer-support">
            <h4>CUSTOMER SUPPORT</h4>
            <ul>
                <li><a href="/">Shipping Info</a></li>
                <li><a href="/">Returns & Exchanges</a></li>
                <li><a href="/">Privacy Policy</a></li>
                <li><a href="/">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <h4>FOLLOW US</h4>
            <ul class="flex gap-4 text-[18px]">
                <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
                <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
                <li><a href="https://pinterest.com" target="_blank">Pinterest</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Stylio. Lorem ipsum dolor sit amet.</p>
    </div>
</footer>