.checkout-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    .name {
        font-size: 18px;
    }

    .value {
        font-size: 18px;
        font-weight: bold;
    }
}

.checkout-total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #191919;
}